@font-face {
  src: url("../assets/SpectralSC-ExtraLight.ttf");
  font-family: "Spectral";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../assets/EagleLake-Regular.ttf");
  font-family: "EagleLake";
  font-weight: normal;
  font-style: normal;
}
