@font-face{
	src: url("../assets/NotoSansJP-Light.otf");
	font-family: "NotoSansJP";
	font-weight: normal;
	font-style:normal;
}
@font-face{
	src:url("../assets/SpectralSC-ExtraLight.ttf");
	font-family: 'Spectral';
	font-weight:normal;
	font-style:normal;
}
@font-face{
	src: url('../assets/Osake-x3oqj.otf');
	font-family: 'Osake';
	font-style:normal;
	font-weight: normal;
}
@font-face{
	src: url("../assets/EagleLake-Regular.ttf");
	font-family: 'EagleLake';
	font-weight: normal;
    font-style: normal;
}
body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: var(--mainBg);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// Base Styles //
@mixin flexCenterRow(){
	display:flex;
	flex-flow: row;
	align-items:center;
	justify-content: center;
}
:root{	
	--headerBg: rgba(56,56,56,1);
	--navBg: rgba(96,96,96,0.5);
	--mainBg: #e5e5e5;
}
.content{
	min-height:100vh;
}
header{
	.header-strip-container{
		height:60px;
		background-color:var(--headerBg);
		h1{
			@include flexCenterRow();
			margin:0;
			font-size:30px;
			color:white;
			height:100%;
			font-family: 'EagleLake';
		}
		.topnav{
			overflow:hidden;
			position:relative;
			/* Hide the links inside the navigation menu (except for logo/home) */
			#myLinks {
				display: none;
				background-color:var(--navBg);
				justify-content: center;
				/* Links inside the navbar */
				a {
					color: white;
					font-size: 24px;
					text-align: center;
					text-decoration: none;
					padding: 20px 16px;
				}
				/* Style the hamburger menu */
				.icon {
					color: white;
					display: block;
					position: absolute;
					right: 15px;
					top: 15px;
					font-size:30px;
					border:none;
					a:hover {
						cursor:pointer;
					}
				}
			}

		}
	}
}
main{
	font-family:'NotoSansJP';
	.main-content-hero{
		display:flex;
		flex-flow:column;
		.hero{
			position:relative;
			.hero-image{
				top:0;
				height:auto;
				width:100vw;
			}
			.hero-text{
				font-family:'EagleLake';
				position:absolute;
				top: calc(50% - 20px);
				left:0;
				text-align: center;
				width:100%;
				.hero-title{
					color:white;
				}
				.hero-title-foods{
					margin:2px;
					font-size:16px;
					color:white;
				}
			}
		}
	}
	.main-content-mid{
		font-family: 'Spectral';
		.mid-section-title{
			display:flex;
			flex-flow:column;
			align-items: center;
			font-family:'EagleLake';
			margin:1em;
			.welcome-japanese{
				margin-top:0;
			}
		}
		.gallery{
			display:grid;
			p{
				padding:0 3rem;
				text-align: left;
			}
			img{
				max-height:100%;
				max-width:100%;
			}
		}
	}
}
footer{
	
}
// small table styles //
@media screen and (min-width:620px){
	.main-content-mid{
		.gallery{
			display:grid;
			grid-template-columns: 1fr 1fr;
			.grid-item:nth-child(3){
				grid-row:2/3;
				grid-column: 2/3;
			}
		}
	}
}

@media screen and (min-width:960px){

}

