body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// Base Styles //
@font-face{
	font-family: ""
}

@mixin flexCenterRow(){
	display:flex;
	flex-flow: row;
	align-items:center;
	justify-content: center;
}
:root{	
	--headerBg: rgba(56,56,56,1);
	--navBg: rgba(96,96,96,0.5);
}
header{
	.header-strip-container{
		height:60px;
		background-color:var(--headerBg);
		h1{
			@include flexCenterRow();
			margin:0;
			font-size:30px;
			color:white;
			height:100%;
		}
		.topnav{
			overflow: hidden;
			font-family: Arial;
			/* Hide the links inside the navigation menu (except for logo/home) */
			#myLinks {
				display: none;
				background-color:var(--navBg);
				justify-content: center;
				/* Links inside the navbar */
				a {
					color: white;
					font-size: 24px;
					text-align: center;
					text-decoration: none;
					padding: 20px 16px;
				}
			}
			/* Style the hamburger menu */
			.icon {
				color: white;
				display: block;
				position: absolute;
				right: 15px;
				top: 15px;
				font-size:30px;
				border:none;
				a:hover {
					cursor:pointer;
				}
			}
		}
	}
}
main{

}
footer{

}
// small table styles //
@media screen and (min-width:620px){

}
@media screen and (min-width:960px){

}

